/* --------FONTS-------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* --------TITULOS----------- */

h1,
h2,
h3,
h4,
h5,
h6,
.header__nav,
input[type=submit],
button {
 	font-family: "Montserrat", serif;
    }
    

.main{
    background-color: #EBF0DF;
    
}

/* ~~~~~~~~HEADER~~~~~~~~~ */
header{
    background-color:#333;
    padding: 30px;
    height: 340px;
    overflow: hidden;
    position: relative;
    transition: height .4s ease;
}
.headerAmpliado{
    background-color:#333   ;
    padding: 30px;
    height: 400px;
    overflow: hidden;
    position: relative;

}

.header__redes{
    height: 10px;
    width: 10px;
}

#logo_redsocial{
    width: 25px;
    height: 25px;
}


.header__figure{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: 20px;
    

}

#foto-perfil{
    position: absolute;
    top: -45px;
    vertical-align: middle;

    
}


.header__figure figcaption{
    text-align: center;
    opacity: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 80px;
    font-size: 2rem;
    position: absolute;
    top: calc(75% - 40px);
    transition: opacity .5s ease;
}



.header__figure img{
    width: 22rem;
    height: 24rem;
    background-size: contain;
    overflow: hidden;   
}

.header__titulo{
    margin: 0 0 1rem;
    position: relative;
    left: calc(50% - 98px);
    top: 25px;
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.header__subtitulo{
    margin: 0 0 1rem;
    display: inline-block;
    position: relative;
    top: 18px;
    left: calc(50% - 80px);
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 1rem;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.7rem;
}
.header__nav a{
    color: white;
    font-size: 1rem;
    font-weight: 900;
    transition: font-size .2s ease;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1cm;
}

.nav__btn {
    position: absolute;
    display: inline-block;
    right: 1rem;
    top:1rem;
    padding: 3px;
    cursor: pointer;
    z-index: 1;
    background-color: #333;
    
    
}

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    position:relative;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -7.5px);
  }


.header__nav a:hover{
    color: white;
    font-size:0.7rem;
}

/* ~~~~~~~FINAL DEL HEADER~~~~~~~~~~~ */

.perfil{
    background-color: #EBF0DF;
}

.perfil p, .form__contacto{
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: lighter;
    color: #345;
}


.perfil__subtitulo{
    padding: 1rem;
    font-family: 'Montserrat', serif;
    font-size: 18px;
}



/* ~~~~~~~SOBRE MI~~~~~~~~~~~~~*/

.home__sobreMi, .home__sobreMi :first-child {
    margin: 0 1rem 1rem;
    padding-top: 1rem;
}

.home__sobreMi p{
    padding: 0.5rem;
}

/* TECNOLOGIAS */


#tecnologia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(201, 216, 231);
}

.subtitulo_tecnologia{
    color: black;
}

#tecnoContenedor{
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 100px 100px;
    justify-items: center;
    align-items: center;
}

.tecnoContenedor__tecnologia img{
    height: 3.5rem;
    width: 3.5rem;
}



/* ~~~~~~~EXPERIENCIA LABORAL~~~~~~~~~ */


#experiencia{
    position: relative;
    overflow: hidden;
    background-color: #EBF0DF;
}

.experiencia__contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: solid 2px;
    padding: 0px 30px;
    padding-right: 50px;
}

#experiencia h3{
    padding: 15px 20px 0 0;
    margin: 0 20px 30px 0;
    display: inline-block;
    height: 40px;
    width: 100px;
    text-align: center;
}


.historial, .trabajo_actual, .trabajo_antiguo, .educacion_actual, .educacion_antigua{
    background: rgb(233, 192, 145);
    position: absolute;
    left: -57px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
}


.linTime{
    background: #333;
    margin: 10px 29px 0px;
    height: 1000px;
    width: 3px;
    z-index: 1;
}
#linTime__trabajos{
    position: relative;
}



#img_bookmark{
    position: absolute;
    height: 25px;
    width: 18px;
    left: 22px;
    top: 67px;
    z-index: 3;
}

.trabajo_actual, .trabajo_antiguo, .educacion_actual, .educacion_antigua{
    background: #8ACB82;
    top: 35px;
    left: -43px;
    height: 25px;
    width: 25px;
}

.trabajo_antiguo, .educacion_antigua{
    background-color: #333;

}

.educacion_actual, .educacion_antigua{
    top: 15px;
}

.linTime__contenido{max-width: 38vh;}

.linTime__contenido p {padding: 0 10px 5px 0;}

.linTime__contenido h4, .linTime__contenido h5 {padding: 4px 0 4px 0;}

#linTime__trabajos{padding: 0 0 20px 0;}

#linTime__trabajos.formacion{
    padding: 0;
}



/* -------COMIENZA SECCION CONTACTO---------- */

#contacto{
    padding-bottom:50px ;
    height: 500px;
    width: 100%;
    background-color:rgb(201, 216, 231);
}

#contacto__titulo{
    position: relative;
    
}

.form__contacto{
    position: absolute;
    left: calc(50% - 155px);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 1px 40px 1px;
    width: 350px;
}

.form__contacto input, textarea{
    width: 100%;
    margin: 5px;
}

/* -------COMIENZA FOOTER-------------- */

.main__footer{
    background-color: #333;
    height: 40px;
    width: 100%;
}




@media (min-width: 450px)(max-width: 999px) {

    .experiencia__contenedor{
        justify-content:center ;
    }
}

@media (min-width: 1000px){
    
    header{
        height: 200px;
    }
    
    .header__titulo{
        top: -100px;
        width: 100%;
    }
    .header__subtitulo{
        top: -100px;
    }

    .header__nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 50px;
        grid-template: 1 0;
        justify-items: center;
        align-items: center;
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed;
        right: -250px;
        opacity: 0.97;
        top: 0;
        /* left: 0; */
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.3s;
    }
    .header__nav a{
        text-align: center;
        width: 100%;
        padding: 8px 0 8px 0;
        
    }
    
    .header__nav a:hover{
        font-size: 1.3rem;
        /* background-color: rgb(26, 27, 27); */
        opacity: 0.7;
    }

    .nav__btn{
        transition: 0.5s ease;
        margin-left: 90%;
        top: 0.7rem;
        right: 50px;
        padding-top: 10px;
    }

    .nav__btnOpen{
        position: fixed;
        display: inline-block;
        right: 190px;
        top:0.7rem;
        padding: .5rem;
        cursor: pointer;
        z-index: 2;
        background-color: #111;
        width: 50px;
    }

    .nav__open{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 50px;
        grid-template: 1 0;
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed;
        right: 0;
        top: 0;

        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 70px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        z-index: 1;
    }

    .header__figure{
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        width: 180px;
        height: 180px;
        left: 10px;
        top: -20px;
        
    
    }
    
    #foto-perfil{
        position: absolute;
        top: -50px;
        vertical-align: middle;
        
        
    }
    .header__figure img {
        width: 24rem;
        height: 25rem;
        background-size: contain;
        overflow: hidden;
    }
}

#perfil__home,#tecnologia,  #experiencia, #contacto {
    padding: 0 30px ;
}

.home__sobreMi p{
    display: flex;
    justify-content: center;
}

.fondo {
    width: 20px;
    position: absolute;
    height: 55px;
    background-color: #ebf0df;
    top: 35px;
    margin-left: -40px;
}

.fondo_bajo{
    width: 20px;
    position: absolute;
    height: 501px;
    background-color: #ebf0df;
    top: 94%;
    margin-left: -40px;
}
